*{
    padding:0;
    margin:0;
}
body{
    background:black;
}
.tabla{
    background: black;
    width:100vw;
    align-items: center;
}
.titulo{
    background: white;
    text-align: center;
}
.nombre{
    font-family: "Bodoni MT Condensed";
    text-decoration:none;
    font-size:4vw;
    color: black;
}
.lista{
    list-style:none;
}
.lista li{
    float: right;
    margin-left:1vw;
    margin-right:1vw;
    align-items: center;
}
.menu{
    color: white;
    text-decoration:none;
}
.boton{
    color: black;
    background: white;
    border-color:#5c636a    ;
    border-radius:.5vw ;
}
.formulario{
    height: auto;
    margin-top:6vw;
    background: rgba(0,0,0,0.7);
}
h2{
    text-align:center;
    color: white;
}
.datos{
    display: block;
    color: white;
    text-align: center;
}
.datosInsertados, .fecha, .correo{
    display: block;
    margin-right: auto;
    margin-left: auto;
    background:none;
    border-bottom-color: white;
    color: white;
    width:20vw;
}
.registrar{
    margin-top:2vw;
    display: block;
    margin-left:auto;
    margin-right:auto;
    border-radius:2vw;
}