*{
    padding:0;
    margin:0;
}
body{
    background-image: url("../imagenes/fondoInicioSesion.jpg");
    background-size: cover;
}
.tabla{
    background: black;
    width:90vw;
    margin:5vw;
    margin-top:1vw;
    align-items: center;
}
.titulo{
    background: white;
    text-align: center;
}
.nombre{
    font-family: "Bodoni MT Condensed";
    text-decoration:none;
    font-size:4vw;
    color: black;
}
.lista{
    list-style:none;
}
.lista li{
    float: right;
    margin-left:1vw;
    margin-right:1vw;
    align-items: center;
}
.menu{
    color: white;
    text-decoration:none;
}
.boton{
    color: black;
    background: white;
    border-color:#5c636a;
    border-radius:.5vw ;
}
.contenedor{
    background: rgba(29,29,29,0.85);
}
h3{
    color: white;
    text-align: center;
}
.imagen{
    background-image: url("../imagenes/fondo.jpg");
}
.datos{
    color: white;
    display: block;

    text-align: center;
}
.datosInsertados{
    display: block;
    margin: auto auto 2vw;
}
.entrar{
    text-align: center  ;
    width:10vw;
    display: block;
    margin:auto;
}