*{
    padding:0;
    margin:0;
}
body{
    background: #565656;
}
.tabla{
    background: black;
    width:90vw;
    margin:5vw;
    margin-top:1vw;
    align-items: center;
}
.titulo{
    background: white;
    text-align: center;
}
.nombre{
    font-family: "Bodoni MT Condensed";
    text-decoration:none;
    font-size:4vw;
    color: black;
}
.lista{
    list-style:none;
}
.lista li{
    float: right;
    margin-left:1vw;
    margin-right:1vw;
    align-items: center;
}
.menu{
    color: white;
    text-decoration:none;
}
.boton{
    color: black;
    background: white;
    border-color:#5c636a    ;
    border-radius:.5vw ;
}
.contenedor{
    background: rgba(0,0,0,0.5);
    margin-top: 8vw;
}
h2 ,h5{
    margin-top:2vw;
    color: white;
    text-align:center;
}
.imagen{
    margin:2vw ;
    background-image: url("../imagenes/imagenInicio.jpg");
    background-size: cover;
}