*{
    padding:0;
    margin:0;
}
body{
    background: #6c757d;
}
.tabla{
    background: black;
    width:100vw;
    align-items: center;
}
.titulo{
    background: white;
    text-align: center;
}
.nombre{
    font-family: "Bodoni MT Condensed";
    text-decoration:none;
    font-size:4vw;
    color: black;
}
.lista{
    list-style:none;
}
.lista li{
    float: right;
    margin-left:1vw;
    margin-right:1vw;
    align-items: center;
}
.menu{
    color: white;
    text-decoration:none;
}
.boton{
    color: black;
    background: white;
    border-color:#5c636a;
    border-radius:.5vw ;
}
.cuerpo{
    height:20vw;
    background: #523e02;
}
.imagen{
    margin-top: 2vw ;
    width: 15vw;
    height: 15vw    ;
    border-radius:100%;
}
.inf{
    background: black ;
}
.cu{
    list-style:none;
    height:5vw;
    text-align: center;
}
.cu li{
    width:24vw;
    float: left;
    border-color: white;
    vertical-align: center;
}
.op{
    color: white;
    text-decoration:none;
}




